@import "tailwindcss";

body {
    margin: 0;
    font-family: Arial;
    background: #f4f6f9;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
}

input,
select {
    margin: 5px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

.nav {
    background: #2c3e50;
    padding: 10px;
}

.nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}